{% extends 'Posts/Base.html' %}
{% block data %}
    <h1> {{ post.Title }} </h1>
        {{ post.Auther }} <br>
        {{ post.Publish_date }} <br>
        {{ post.Last_updated }} <br>
        <p>
            {{ post.Content }} <br>
        </p>
        {% if post.Auther == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id %}">Delete</a>
          </div>
{% endif %}
{% endblock data %}