{% extends 'Posts/Base.html' %}
{% load crispy_forms_tags %}
{% block data %}
    {% if user.is_authenticated %}
        {{ user.username }}<br>
        {{ user.email }}<br>
        <img src="{{ user.profile.Profile_pic.url }}" alt="{{ user.username }} Profile Picture">
        <br>
        <br>
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        <fieldset>
            <legend> {{ user.username }}'s Profile</legend>
            {% csrf_token %}
                {{ pro_form|crispy }}
                {{ form|crispy }}
        </fieldset>
        <button type="submit">Update</button>
    </form>
{% endblock data %}