{% extends 'Posts/Base.html' %}
{% block data %}
    {% if user.is_authenticated %}
        {{ user.username }}<br>
        {{ user.email }}<br>
        <img src="{{ user.profile.Profile_pic.url }}" alt="{{ user.username }} Profile Picture">
    {% endif %}
    <form method="POST">
        <fieldset>
            <legend> User_profile</legend>
            {% csrf_token %}
                {{ form.as_p }}
                {{ pro_form.as_p }}
        </fieldset>
        <button type="submit">Update</button>
    </form>
{% endblock data %}