.space{
    background-color:#999999;
    height:100px; 
    font-size:28px;
    color:#FF0099;
    text-align:center;
    font-family: Georgia, "Times New Roman", Times, serif ;
    padding:30px;
    text-shadow: #330066 10px 3px 5px;  
    }
.section1{
    background-color:#999999;
    height:100px;
    padding:30px;
    }
.section2{ height:50px;
    font-size:24px;
    background-color:#999999;
    color:#000000;
    }
.section3{ text-align:center;
    height:150px;
    font-size:24px;
    background-color:#330099;
    color: #FFFFFF;
    padding:50px;
}