{% extends 'Posts/Base.html' %}
{% load crispy_forms_tags %}
{% block data %}
    <form method='POST'>
        <fieldset>
            <legend>User Login</legend>
            {% csrf_token %}
            {{ form|crispy }}
        </fieldset>
        <button type='submit' > Sign In </button>
    </form>
    <small class="text-muted">
        Forgot Password? <a class="ml-2" href="{% url 'password_reset' %}">Reset</a><br>
        Need an Account <a class="ml-2" href="{% url 'Registration' %}">Create One</a>
    </small>
{% endblock data %}